header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: $header-color;
  color: $font-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .left, .right {
    > * {
      float: left;
    }
  }

  .button {
    height: 50px;
    padding: 0 10px;
    transition: .1s all linear;
    cursor: pointer;

    &:hover {
      background: $font-white;
      color: $header-color;
    }
  }

  .user {
    margin-right: 20px;
  }
}

.content {
  margin-top: 70px;
}