.card.z3 {
  height: 400px;
  padding: 0;
  overflow: hidden;
  z-index: 5;

  .card-container {
    width: 100%;
    height: 100%;
    position: relative;

    > * {
      float: left;
    }

    .image {
      width: 400px;
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    .content {
      padding: 10px 20px;
      width: calc(100% - 400px);
      box-sizing: border-box;

      .header {
        max-width: 100%;
        height: 51px;
        margin-bottom: 20px;

        > * {
          float: left;
        }

        .nameCountry {
          .name {
            font-weight: $bolder;
            font-size: 24px;
            color: $font-black;
          }

          .country {
            font-weight: $normal;
            color: $font-gray-800;
            font-size: 16px;
          }
        }

        .favorite {
          line-height: 51px;
          margin-left: 30px;
          font-size: 40px;
          color: $font-white-200;
          text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
          cursor: pointer;
          transition: .1s all linear;

          &:hover {
            text-shadow: none;
            color: rgba(255, 0, 0, .5);
          }

          &.full {
            color: $favorite-red;
            text-shadow: none;

            &:hover {
              opacity: .5;
            }
          }
        }

        .rating {
          float: right;

          > * {
            float: left;

            line-height: 51px;
            margin: 0;
            font-size: 32px;
            color: $font-gray-200;

            &.full {
              color: $font-gold;
            }
          }
        }
      }

      .description {
        height: 200px;
        max-height: 200px;
      }

      .footer {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 440px);

        .date {
          position: absolute;
          left: 0;
          bottom: 0;
          color: $font-gray-800;
          font-size: 14px;
        }

        .priceReviews {
          float: right;

          .price {
            text-align: right;
            font-weight: $bold;
            font-size: 42px;
          }

          .reviews {
            background: $font-gray-200;
            color: $font-white;
            padding: 5px 10px;
            border-radius: 7px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
            cursor: pointer;
            transition: .1s all linear;

            &:hover {
              box-shadow: none;
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

@keyframes dropdownAnimation {
  from {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}

.dropdown {
  animation-name: dropdownAnimation;
  animation-duration: .1s;
}