.login {
  label {
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 32px;
    display: block;
    margin: 10px;
  }

  input {
    margin: 0 auto;
    background: #fff !important;
    appearance: initial;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    display: block;
    font-size: 18px;
  }

  .btn.btn-primary {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: #9a6dea;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: .1s all linear;

    &:hover {
      box-shadow: none;
    }
  }
}