.card.z1 {
  height: 200px;
  padding: 10px 50px;
  box-sizing: border-box;

  > * {
    float: left;
  }

  .image {
    background: #f4ca31;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 30px;
  }

  .content {
    margin-top: 20px;
    max-width: calc(100% - 200px);

    .nameRating {
      width: 100%;
      height: 45px;

      > * {
        float: left;
      }

      .name {
        font-weight: $bold;
        font-size: 24px;
        line-height: 45px;
        margin-right: 20px;
      }

      .rating {
        font-weight: $bolder;
        font-size: 32px;

        color: $thumbs-red;

        &.positive {
          color: $thumbs-green;
        }
      }
    }
  }
}