<template>
  <div class="hello">
    <header>
      <div class="left">
        <div class="button" v-on:click="toDashboard()">Dashboard</div>
        <div class="button" v-on:click="toFavorites()">Favorites</div>
      </div>
      <div class="right">
        <div class="user">{{ currentUser.email }}</div>
        <div class="button" v-on:click="logout()">Sign Out</div>
      </div>
    </header>
    <div class="content">
      <div v-for="hotel in hotelsData" :key="hotel.id">
        <HotelCard :hotel-data="hotel"></HotelCard>
      </div>
    </div>
  </div>
</template>

<script>
import HotelCard from "../components/HotelCard";
import HotelsService from '../services/hotels.service';

export default {
  name: 'Favorites',
  components: {HotelCard},
  props: {
    msg: String
  },
  data() {
    return {
      hotelsData: [],
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    HotelsService.getFavoriteHotels().then(
        response => {
          this.hotelsData = response.data;
        },
        error => {
          console.log(error);
        }
    )
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
    },

    toDashboard() {
      this.$router.push('/home');
    },

    toFavorites() {
      this.$router.push('/favorites');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
