<template>
  <div class="login">
    <form name="form" @submit.prevent="handleLogin">
      <div class="form-group">
        <label for="username">Username</label>
        <input
            v-model="user.username"
            type="text"
            class="form-control"
            name="username"
            id="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
            v-model="user.password"
            type="password"
            class="form-control"
            name="password"
            id="password"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" :disabled="loading">
          <span v-show="loading" class="spinner-border spinner-border-sm"></span>
          <span>Login</span>
        </button>
      </div>
      <div class="form-group">
        <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
      </div>
    </form>
    <button class="btn btn-primary btn-block" v-on:click="signUp()">
      <span>Sign Up</span>
    </button>
  </div>
</template>

<script>
import User from '../models/user';

export default {
  name: "Login",
  data() {
    return {
      user: new User('', '', '', '', ''),
      loading: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/home');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      if (this.user.username && this.user.password) {
        this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/home');
            },
            error => {
              this.loading = false;
              this.message =
                  (error.response && error.response.data && error.response.data.message) ||
                  error.message ||
                  error.toString();
            }
        );
      }
    },

    signUp() {
      this.$router.push('/sign-up');
    }
  }
}
</script>

<style scoped>

</style>