<template>
  <div class="login">
    <form name="form" @submit.prevent="handleRegister">
      <div v-if="!successful">
        <div class="form-group">
          <label for="username">Username</label>
          <input
              v-model="user.username"
              type="text"
              class="form-control"
              name="username"
              id="username"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
              v-model="user.email"
              type="email"
              class="form-control"
              name="email"
              id="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
              v-model="user.password"
              type="password"
              class="form-control"
              name="password"
              id="password"
          />
          <label for="first_name">First Name</label>
          <input
              v-model="user.first_name"
              type="text"
              class="form-control"
              name="first_name"
              id="first_name"
          />
          <label for="last_name">Last Name</label>
          <input
              v-model="user.last_name"
              type="text"
              class="form-control"
              name="last_name"
              id="last_name"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </div>
    </form>

    <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
    >{{message}}</div>

    <button class="btn btn-primary btn-block" v-on:click="logIn()">
      <span>Log In</span>
    </button>
  </div>
</template>

<script>
import User from '../models/user'

export default {
  name: "SignUp",
  data() {
    return {
      user: new User('', '', '', '', ''),
      submitted: false,
      successful: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/home');
    }
  },
  methods: {
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.$store.dispatch('auth/register', this.user).then(
          data => {
            this.message = data.message;
            this.successful = true;
            this.$router.push('/');
          },
          error => {
            this.message =
                (error.response && error.response.data && error.response.data.message) ||
                error.message ||
                error.toString();
            this.successful = false;
          }
      );
    },

    logIn() {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>

</style>