<template>
  <div>
    <div class="card z3">
      <div class="card-container">
        <div class="image" :style="{backgroundImage: 'url(' + hotelData.image + ')'}">
        </div >
        <div class="content">
          <div class="header">
            <div class="nameCountry">
              <div class="name">{{ hotelData.name }}</div>
              <div class="country">{{ hotelData.city }}, {{ hotelData.country }}</div>
            </div>
            <div class="favorite" v-on:click="toggleFavorite(hotelData.id)" ref="favorite" :class="{full: (hotelData.user.indexOf(currentUser.user_id) !== -1)}">❤</div>
            <div class="rating">
              <p class="full" v-for="star of hotelData.stars" :key="star">★</p>
              <p class="" v-for="star of (5 - hotelData.stars)" :key="star">★</p>
            </div>
          </div>
          <div class="description">{{ hotelData.description }}</div>
          <div class="footer">
            <div class="date">{{ formatedDate }}</div>
            <div class="priceReviews">
              <div class="price">{{ hotelData.price + "€" }} </div>
              <div class="reviews" v-on:click="toggleReviews()"><span class="arrow">{{arrowGlyph}}</span> Show reviews</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="arrowGlyph === '⮝'" class="dropdown">
      <div v-for="review in reviews" :key="review.id">
        <ReviewCard :review="review"></ReviewCard>
      </div>
    </div>
  </div>
</template>

<script>
import ReviewCard from "./ReviewCard";
import HotelsService from '../services/hotels.service';
import format from 'date-fns/format'

export default {
  name: "HotelCard",
  components: {
    ReviewCard
  },
  props: {
    hotelData: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      arrowGlyph: '⮟',
      reviews: [],
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },

    formatedDate() {
      return format(new Date(this.hotelData.date), 'dd/mm/yyyy  HH:mm')
    }
  },
  methods: {
    toggleReviews() {
      if (this.reviews.length === 0) {
        HotelsService.getHotelReviews(this.hotelData.id).then(
            response => {
                this.reviews = response.data;
                if (this.reviews.length !== 0) {
                  this.arrowGlyph = '⮝';
                }
            },
            error => console.log(error)
        );
      }
      else {
        if (this.arrowGlyph === '⮟') {
          this.arrowGlyph = '⮝';
        } else {
          this.arrowGlyph = '⮟';
        }
      }
    },

    toggleFavorite(id) {
      this.$refs.favorite.classList.toggle('full');
      const isFavorite = this.$refs.favorite.classList.contains('full');
      HotelsService.addRemoveFavoriteHotel({hotel_id: id, is_favorite: isFavorite})
    }
  }
}
</script>

<style scoped>

</style>