<template>
  <div class="card z1">
    <div class="image"></div>
    <div class="content">
      <div class="nameRating">
        <div class="name">{{ review.author.first_name }} {{ review.author.last_name }}</div>
        <div class="rating" :class="{positive: review.positive}">{{ thumbs }}</div>
      </div>
      <div class="review">{{ review.message }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ReviewCard",
  props: {
    review: {
      type: Object,
      required: true,
    }
  },
  computed: {
    thumbs() {
      if (this.review.positive) {
        return '🖒'
      }
      else {
        return '🖓'
      }
    },
  }
}
</script>

<style scoped>

</style>