body {
  background: $body-color;
  font-family: $main-font;
}

.card {
  border-radius: 5px;
  background: $card-white;
  width: 80%;
  position: relative;
}

.z1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin: 5px auto;
}

.z2 {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
}

.z3 {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, .3);
  margin: 20px auto;
}