$body-color: #efefef;
$header-color: #9a6dea;

$card-white: #fff;

$font-black: #000;

$font-gray-800: #555;
$font-gray-200: #acacac;

$font-white: #fff;
$font-white-200: #f7f7f7;

$font-gold: #ffd700;

$thumbs-green: #4bb543;
$thumbs-red: #ff0800;
$favorite-red: #ff0800;